In [8]:
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

# !pip install --upgrade xlrd
# !pip install pyarrow
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ------------------------------------- 242.1/242.1 kB 14.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [3]:
# https://fred.stlouisfed.org/series/FEDFUNDS

df = pd.read_excel('Data/FEDFUNDS.xls', header=10, names=['date','FEDrate'])
df = df[df['date'] >= datetime(year=2017, month=1, day=1)]
df = df.reset_index(drop=True)
df['year'] = df['date'].apply(lambda x: x.year)
df['month'] = df['date'].apply(lambda x: x.month)
df = df.drop('date', axis=1)
df.to_feather('Data/FEDFUNDS.ftr')

In [4]:
df

    FEDrate  year  month
0      0.65  2017      1
1      0.66  2017      2
2      0.79  2017      3
3      0.90  2017      4
4      0.91  2017      5
..      ...   ...    ...
60     0.08  2022      1
61     0.08  2022      2
62     0.20  2022      3
63     0.33  2022      4
64     0.77  2022      5

[65 rows x 3 columns]

In [5]:
# https://fred.stlouisfed.org/series/EFFRVOL

df = pd.read_excel('Data/EFFRVOL.xls', header=10, names=['date', 'EFFRVol'])
df['year'] = df['date'].apply(lambda x: x.year)
df['month'] = df['date'].apply(lambda x: x.month)
df['day'] = df['date'].apply(lambda x: x.day)
df = df.drop('date', axis=1)
df.to_feather('Data/EFFRVOL.ftr')

In [6]:
df

      EFFRVol  year  month  day
0          80  2017      1    3
1          79  2017      1    4
2          77  2017      1    5
3          79  2017      1    6
4          74  2017      1    9
...       ...   ...    ...  ...
1428       91  2022      6   24
1429       90  2022      6   27
1430       95  2022      6   28
1431       85  2022      6   29
1432       67  2022      6   30

[1433 rows x 4 columns]

In [30]:
df = pd.read_excel('Data/SP500.xlsx', header=5)
df = df.iloc[:,0:2].copy()
df.columns = ['date','last_price']
df['year'] = df['date'].apply(lambda x: x.year)
df['month'] = df['date'].apply(lambda x: x.month)
df['day'] = df['date'].apply(lambda x: x.day)
df = df.drop('date', axis=1)
df.to_feather('Data/SP500.ftr')

In [31]:
df

      last_price  year  month  day
0        2238.83  2017      1    2
1        2257.83  2017      1    3
2        2270.75  2017      1    4
3        2269.00  2017      1    5
4        2276.98  2017      1    6
...          ...   ...    ...  ...
1429     3911.74  2022      6   24
1430     3900.11  2022      6   27
1431     3821.55  2022      6   28
1432     3818.83  2022      6   29
1433     3785.38  2022      6   30

[1434 rows x 4 columns]